<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>LocawebTweets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container is-fluid" style="padding-top: 5px">
      <%= yield %>
    </div>
  </body>
</html>
